/* 
   ComaschiTECH style sheet 
   Filename: styles.css

   Author:   Hernan Comaschi
   Date:     October 2023
   HTML5 and CSS3 Illustrated Independent Project Submission s
*/
/* reset styles */
html {
    font-size: 13px;
}
article, body, div, img, figcaption, label, figure, footer, header, img, video, section, textarea, a, li, ul, ol, nav, h1, h2, h3, p {
    border: 0;
    padding: 0;
    margin: 0;
}
video {
    max-width: 74%;
    height: auto;
    width: auto;
    display: block;
    padding-left: 12%;
    margin-top: 2%;
    margin-bottom: 2%;
 }
/* body and page container */
body {
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    /* background: url("images/background.png"); */
    background: linear-gradient(#e74040, white) no-repeat;
}
.container {
    margin: 0 auto;
    max-width: 1080px; 
    background-color: rgb(224, 78, 78);
    top: 1em;
    box-shadow: 10px 10px 8px 10px #e7adad;
}

/* headings */
header {
    padding: 0 1em;
    text-align: center;
    background-color: rgb(224, 78, 78);
    height: 10em;
}
header h1 {
    padding-top: 0.4em;
    color: white;
    font-weight: normal;
    font-size: 2.6em;
    line-height: 2.8em;
    font-weight: bold;

 }
header div {
   width: 80%;
   margin: 1em auto;
   margin-left: auto;
   margin-right: auto;
}

header p {
   color: black;
   background-color: white;
   border: 3px solid black;
   padding: 6px;
}
header img {
    position: relative;
    top: -7.9em;
    left: -36.5em;
    height: 120px;
    width: 120px;
    z-index: inherit;
}

/* site navigation */
nav.sitenavigation {
    background-color: rgb(224, 78, 78);
    text-align: center;
}
nav.sitenavigation p {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
}
nav.sitenavigation a {
    padding: 0.5em 1em;
    display: inline-block;
    border-radius: 6px;
}
nav.sitenavigation a:link {
    color: rgb(92, 12, 29);
    text-decoration: none;
}
nav.sitenavigation a:visited {
    color: #eee;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
    color: rgb(92, 12, 29);
}
nav.sitenavigation ul, li {
    display: inline-block;
    font-weight: bold;
    font-size: 1.3em;
}
nav.sitenavigation li:hover {
    transform: scale(1.2);
    transform: translatey(-4px);
}

/* main content */
article {
   width: 94%; 
   color: black;
   background-color: white;
   text-align: left;
   margin: 0 auto; 
   padding-top: 2em;
   padding-bottom: 1em;
   padding-left: 1em;
   padding-right: 1em;
}
article p {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 0.5em;
}

article li {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-family: Verdana, Geneva, sans-serif;
}
p.intro::first-letter {
    color: #050303;
    font-size: 200%;
  }
h2 {
    font-weight: bold;
    font-size: 3em;
    line-height: 0.8em;
    text-align: left;
    color: red;
    margin-top: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5em;
}

#contentstart li {
    font-weight: bold;
    font-size: 2em;
    line-height: 0.3em;
    color: red;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h3 {
    font-weight: bold;
    font-size: 2em;
    line-height: 0.3em;
    color: red;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.4em;
}
nav.pagenavigation {
    margin-top: 1em;
    text-align: center;
    color: white;
    background-color: rgb(167, 19, 19);
    font-size: 1.1em;
    box-shadow: 5px 5px 3px 5px #e7adad;
}
nav.pagenavigation p {
    display: inline-block;
    margin: 0.5em;
    padding: 0;
}
nav.pagenavigation a:link {
    text-decoration: none;
    color: #f0efef;
}
nav.pagenavigation a:visited {
    color: ivory;
}
nav.pagenavigation a:hover, nav.pagenavigation a:focus {
    color: ivory;
}
figure {
    width: 40%;
    margin: 1em auto;
    /* border: 2px solid black; */
}
figcaption {
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: white;
}
figure img {
    width: 90%;
    height: 90%;
    float: none;
    border: 1px solid red;
}

.article-aside-outer-container li {
    font-size: 1.25em;
}

/* main content table */
table {
    width: 90%;
    margin: 1em auto;
}
td, th {
    width: 33.3%;
    border: 1px solid black;
    padding: 0.3em 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th {
    background-color: rgb(224, 78, 78);
}
th.title {
    background-color: rgb(224, 143, 38);
}

div.fade-in-image img {
    position: relative;
    top: -8em;
    left: -35em;
}
.fade-in-image { 
    animation: fadeIn 1s; 
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
} 

/* footer section */
footer {
   border: 16px solid rgb(224, 78, 78);
   background-color: white;
   color: black;
   padding: 0.5em;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: bold;
   font-size: 1em;
   line-height: 0.8em;
   text-align: center;
}
footer p {
   margin: 0.4em;
}
/* ---------------------------------------------------------------------- */

/* standard screen styles */
@media screen and (max-width: 800px) {
    header {
        width: auto;
        max-width: 800px;
        margin: 0 auto;
        float: none;
    }
    header h1 {
        width: 170%;
        margin: 8% 3% 0 3%;
    }
    header div {
        margin: 2% 4% 5%;
        float: left;
    }
}
/* small screen/tablet styles */
@media screen and (max-width: 800px) {
    header {
        width: auto;
        max-width: 800px;
        margin: 0 auto;
        float: right;
    }
    header div {
        margin: 2% 4% 5%;
        float: left;
    }
    article {
        width: 62.5%;
    }
    figure {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
        background-image: none;
        float: none;
    }
    figure, img {
        display: none;
    }
    aside {
        width: 33.5%;
    }
    header h1 {
        width: 60%;
        margin: 8% 3% 0 3%;
    }

}

/* handheld styles */
@media screen and (max-width: 800px) {
    header {
        margin: 0 95px 0 0;
        float: left;
    }
    header h1 {
        width: auto;
        margin: 0.4em 2%;
        float: left;
    }
    header div {
        display: none;
    }
    nav.sitenavigation {
        margin: 0px;
        position: absolute;
    }
    nav.sitenavigation ul {
        display: none;
        position: fixed;
        top: 8.5%;
        right: 15px;
        z-index: 2;
    }
    nav.sitenavigation li {
        margin: 0;
        border: none;
        display: block;
        text-align: left;
        border-radius: 0%;
    }
    nav.sitenavigation a {
        width: 83%;
        border-radius: 0%;
    }
    aside {
        display: none;
    }
}

/* ---------------------------------------------------------------------- */

/* field styles */
.contactinfo input, #stay-nights, textarea {
    border: 1px solid #ccc;
    padding: 0.2em;
    font-size: 1em;
}
select {
    margin-bottom: 0.6em;
}
.contactinfo input {
    position: absolute;
    left: 5em;
}
.schedule input {
    position: absolute;
    left: 10em;
}
#nameinput, #emailinput {
    width: 25em;
}
#phoneinput {
    width: 12em;
}
.submitbutton {
    display: none;
}
#submit {
    border: none;
    padding: 0.4em 0.6em;
    background-color: #e3d5ba;
    font-size: 1.25em;
    border-radius: 10px;
}
/* label styles */
label {
    font-size: 1em;
    line-height: 1.6em;
}
.contactinfo label {
    display: block;
    position: relative;
    margin: 0.8em 0;
}
.typeserv label, .typevisit label {
    margin-right: 1.6em;
}
.schedule p {
    width: 9.2em;
    float: left;
}
label:before, .schedule p:before {
    content: "* ";
    color: red;
}
.additionalinfo label:before {
    content: "";
}
.date-picker label {
    position: absolute;
    left: -10000px;
}
/* form styles */
form {
    padding: 10px;
}
/* fieldset styles */
fieldset {
    margin-bottom: 0.8em;
}
fieldset fieldset {
    margin-top: 1em;
    padding: 0.8em;
    border: 1px solid #777;
}
legend {
    font-size: 1.25em;
}
.contactinfo legend,
.reserveinfo > legend,
.additionalinfo legend {
    margin-left: -0.1em;
    font-weight: bold;
}
input:valid {
    background-color: #eaf8e2;
}
input:focus, textarea:focus {
    background-color: #cce5ef;
}

/* feedback preview section */
.feedback-preview {
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid black;
    font-size: 1.3em;
    background-color: white;
    display: none;
 }
 .show {
     display: block;
 }
 .feedback-preview p {
    margin-bottom: 0.3em;
 }
 .table-row {
    display: table-row;
 }
 .table-row div:first-child {
    font-weight: bold;
 }
 .table-cell {
    padding: 0 0.2em;
    display: table-cell;
 }
 .feedback-content {
    padding: 0.4em 0.2em 0;
 }
/* print styles */
@media print {
    article, article h2, article h3, aside, body, .container, footer, header, header h1, header p{
        color: #000;
        background-color: #fff;
        box-shadow: none;
        border: none;
        font-size: 1em;
        margin: auto;
    }
    article {
        width: 90%
    }
    body {
        max-width: 100%;
    }
    nav {
        display: none;
    }
    @page {
        margin: 1in;
    }
}